/* General Styles */
.sign-in {
    padding: 150px 0;
    background: #f8f8f8;
  }
  
  .container {
    width: 900px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
  }
  
  .signin-content {
    padding: 75px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .signin-image {
    width: 50%;
    margin: 0 55px 0 0;
  }
  
  .signin-image img {
    max-width: 100%;
    height: auto;
  }
  
  .signup-image-link {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #222;
    margin-top: 20px;
  }
  
  .signin-form {
    width: 50%;
    margin-left: 75px;
  }
  
  .form-title {
    font-size: 36px;
    font-weight: bold;
    color: #222;
    margin-bottom: 33px;
  }
  
  .form-group {
    position: relative;
    margin-bottom: 25px;
  }
  
  .form-group:last-child {
    margin-bottom: 0;
  }
  
  
  .form-group input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 10px;
    font-family: Poppins;
    box-sizing: border-box;
  }
  
  .form-group input:focus {
    border-bottom: 1px solid #222;
  }
  
  .agree-term {
    display: inline-block;
    width: auto;
  }
  
  .label-agree-term {
    position: relative;
    top: 0;
    transform: translateY(0);
    color: #222;
  }
  

  

  /* Media Queries */
  @media screen and (max-width: 991px) {
    .container {
      width: 100%;
      padding: 0 30px;
    }
    
    .signin-content {
      flex-direction: column;
    }
    
    .signin-image {
      width: 100%;
      margin: 0 0 30px 0;
    }
    
    .signin-form {
      width: 100%;
      margin-left: 0;
    }
  }
  