/* Navbar.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'optika', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .top-nav {
    width: 100vw;
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    border-bottom: 1px solid rgb(235, 226, 226);
    z-index: 100;
  }
  
  .small-device-menu {
    display: none;
  }
  
  .menu-top {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 20px;
    border-bottom: 1px solid rgb(235, 226, 226);
    background-color: rgb(255, 255, 255);
  }
  
  .menu-icon-box {
    display: flex;
    gap: 0px;
    flex-direction: column;
    margin-left: 25px;
    cursor: pointer;
  }
  
  .menu-line {
    background-color: black;
    width: 35px;
    height: 4px;
    border-radius: 11000px;
    pointer-events: none;
    transition: all 0.25s ease-in-out;
  }
  
  .menu-content {
    width: 100vw;
    border-right: 1px solid;
    padding: 20px;
    position: absolute;
    left: 0px;
    top: 80.5px;
    background-color: rgb(255, 255, 255);
    transform: translateY(-1000%);
    transition: transform 0.3s ease;
  }
  
  .menu-content.active {
    transform: translateY(0px);
  }
  
  .menu-items {
    margin-top: 30px;
    display: flex;
    padding-bottom: 50px;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    list-style: none;
  }
  
  .menu-items a {
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  
  .menu-items a:hover {
    border-bottom: 1px solid grey;
    color: grey;
  }
  
  .menu-line2 {
    transition: all 0.1s ease-in-out;
  }
  
  .menu-line1 {
    transition: all 0.25s ease-in-out;
  }
  
  .menu-line3 {
    transition: all 0.25s ease-in-out;
  }
  
  .menu-close1 {
    transform: rotate(45deg) translateX(15px);
  }
  
  .menu-close3 {
    transform: rotate(-45deg) translateX(15px);
  }
  
  .menu-close2 {
    transform: translateX(100px);
    opacity: 0;
  }
  
  .menu-icon-box.active {
    gap: 0px;
  }
  
  .top-nav-box {
    width: 100%;
    /* overflow-x: hidden; */
    display: flex;
    justify-content: space-between;
    align-items:last baseline;
    gap: 30px;
    padding: 10px 20px;
  }
  
  .top-nav-box1 {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  
  .icon-img {
    cursor: pointer;
    height: 60px;
    margin-right: 25px;
    margin-top: 10px;
  }
  
  .search-box {
    width: 100%;
    position: relative;
  }
  
  .search {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    padding-left: 40px;
    border: none;
    outline: none;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    width: 30vw;
    height: 45px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 6px;
  }
  
  .search-icon {
    position: absolute;
    left: 9px;
    top: 7px;
  }
  
  .icon-svg {
    height: 20px;
  }
  
  .location-search-input {
    border-right: 1px solid black;
  }
  
  .nav-right-menu {
    display: flex;
    gap: 30px;
  }
  
  .anchorTag{
    color: black;
    text-align: end;
    display: flex;
    align-items: center;
    text-decoration: none;
    display: flex;
    gap: 5px;
  }

  .anchorTag p{
    margin-top: 15px;
  }

  .btn-box {
    display: flex;
    gap: 5px;
    padding-right: 15px;
    align-items:center;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 14px;
  }
  
  .btn-box:hover {
    cursor: pointer;
    color: red;
  }

  .anchorTag:hover{
    color: red;
  }
  
  .btn-box:hover .btn-icon {
    filter: invert(25%) sepia(1000%) saturate(11000%) hue-rotate(0deg) brightness(80%) contrast(97%);
  }
  
@media screen and (max-width:800px) {
    .top-nav-box {
      display: none;
    }
  
    .small-device-menu {
      display: block;
    }
}




.shopping-cart-box-float{
  position: relative;
}

.cart-text{
  position: absolute;
  top: -3px;
  left: 15px;
  font-size: 9px;
  background-color: rgba(255, 0, 0, 0.727);
  color: white;
  padding: 0px 3px;
  border-radius: 50%;
}